:root {
  --black: rgb(0, 0, 0);
  --orange: rgb(230, 159, 0);
  --skyblue: rgb(86, 180, 233);
  --bluishgreen: rgb(0, 158, 115);
  --yellow: rgb(240, 228, 66);
  --blue: rgb(0, 114, 178);
  --vermillion: rgb(213, 94, 0);
  --reddishpurple: rgb(204, 121, 167);

  --backgroundcolour: var(--skyblue);
  --stringcolour: var(--orange);
  --zerochordcolour: var(--yellow);
  --onechordcolour: var(--reddishpurple);
  --twochordcolour: var(--bluishgreen);

  --chordnamecolour: var(--black);

  --buttoncolour: var(--reddishpurple);
}

* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topbox {
  /* we are using vh for a fixed knowable height relative to the window. Therefore :root, html and body % settings are irrelevant */
  height: 10vh;
  background: var(--backgroundcolour);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#inner-top-box {
  display: flex;
  justify-content: space-around;
}

#chord-container {
  /* we are using vh for a fixed knowable height relative to the window. Therefore :root, html and body % settings are irrelevant */
  height: 80vh;
  display: flex;
  flex-direction: column;
  background: white;
}

.bottombox {
  height: 10vh;
  background: var(--backgroundcolour);
}

.rightspace {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.stringscontainer {
  display: flex;
  flex: 20;
  flex-direction: row;
  justify-content: space-around;
}

.chordname {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2em;
  text-align: center;
  color: var(--chordnamecolour);
}

.invisible {
  display: none;
}

.zero {
  background: var(--zerochordcolour);
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}

.one {
  background: var(--onechordcolour);
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}

.two {
  background: var(--twochordcolour);
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}

.string {
  background: var(--stringcolour);
  width: 2vw;
}

p {
  text-align: center;
  font-size: 2em;
}

.optionscreen {
  margin: 0 auto;
  background: var(--backgroundcolour);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 10;
  position: absolute;
}

.startscreen {
  margin: 0 auto;
  background: var(--backgroundcolour);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  position: absolute;
}

#innerstartscreen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#startbutton {
  font-size: 4em;
}

/* button styling */

.button-49-options,
.button-49-options:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, var(--buttoncolour) 5%);
  border: 0;
  color: var(--black);
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px var(--blue);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49-options:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "OPTIONS";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    var(--skyblue) 3%,
    var(--bluishgreen) 5%,
    var(--reddishpurple) 5%
  );
  text-shadow: -3px -3px 0px var(--yellow), 3px 3px 0px var(--skyblue);
  clip-path: var(--slice-0);
}

.button-49-options:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49-options,
  .button-49-options:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

.button-49-about,
.button-49-about:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, var(--buttoncolour) 5%);
  border: 0;
  color: var(--black);
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px var(--blue);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49-about:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "ABOUT";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    var(--skyblue) 3%,
    var(--bluishgreen) 5%,
    var(--reddishpurple) 5%
  );
  text-shadow: -3px -3px 0px var(--yellow), 3px 3px 0px var(--skyblue);
  clip-path: var(--slice-0);
}

.button-49-about:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49-about,
  .button-49-about:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

/* toggle styling */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
